  .mini-window {
    position: absolute;
    background-color: rgb(208, 221, 232);
    border: 2px solid #000;
    box-sizing: border-box;
    resize: none;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0; 
    color: #000;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 400px;
  }
  
  .titlebar {
    background-color: #2E6374;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D3D3D3;
    margin: 0; /* ensure no default margins */
  
  }
    
  .window-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2rem;
    overflow: auto;
    flex: 1 1 auto; 
  }
  
  .resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #888;
    cursor: nwse-resize;
    clip-path: polygon(100% 0, 0 100%, 100% 100%); /* bottom-right triangle */
    z-index: 10;
  }

  .window-controls {
    display: flex;
    align-items: center;
    gap: 8px; /* clean spacing between buttons */
  }

  .minimize {
    cursor: pointer;
    background-color: #D1C291;
    border-radius: 50%;
    border: none;
    position: relative;
    transition: background-color 0.2s ease;
    align-items: center;
    overflow: hidden;  
  }
  .minimize .symbol {
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 14px;
    line-height: 0;
    color: black;
    pointer-events: none;
  }
  .minimize:hover .symbol {
    opacity: 1;
  }
  .close {
    cursor: pointer;
    background-color: #D19191;
    border-radius: 50%;
    border: none;
    position: relative;
    transition: background-color 0.2s ease;
    align-items: center;
    overflow: hidden;  
  }
  .close .symbol {
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 14px;
    line-height: 0;
    color: black;
    pointer-events: none;
  }
  .close:hover .symbol {
    opacity: 1;
  }

  .maximize {
    cursor: pointer;
    background-color: #97D191;
    border-radius: 50%;
    border: none;
    position: relative;
    transition: background-color 0.2s ease;
    align-items: center;
    overflow: hidden;  
  }
  .maximize .symbol {
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 14px;
    line-height: 0;
    color: black;
    pointer-events: none;
  }
  .maximize:hover .symbol {
    opacity: 1;
  }
