/* index.css */
body {
  margin: 0;
  background-color: #6FB1C5; /* your preferred background */
  font-family: system-ui, sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}
